<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <header class="row middle-xs between-xs">
        <div class=" col-xs-2">
            <div class="linha">
                <img src="../portifolio/_imagens/logo.png">
            </div>
        </div>
        <div class="col-xs-4">
            <nav class="nav">

                <span> <a>Sobre</a></span>   
                <span> <a>Experiencias</a> </span>
                <span> <a>Contatos</a>
                </a></span>  
          
        </nav>
        </div>
        
    </header>
    
</body>
</html>